* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Helvetica, sans-serif;
  }
  
  header {
    background-color: rgb(136, 203, 211);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Comfortaa', cursive;
  }
  
  nav {
    float: left;
    width: 15%;
    height: auto;
    background: #ccc;
    padding: 20px;
    font-family: 'Comfortaa', cursive;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: rgb(94, 202, 235);
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 60%;
    background-color: #f1f1f1;
    height: auto; 
  }
  
  aside {
    float: right;
    padding: 10px;
    width: 25%;
    background: #ccc;
    height: auto;
  }
  
  section:after {
    content: "";
    display: table;
    clear: all;
  }
  
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  @media (max-width: 768px) {
    nav{
      width: 100%;
      height: auto;
    }
    article {
        width: 50%;
      height:auto;
      float: left;
  }
    aside {
      width: 50%;
      height: auto;
      float: left;
  }
  
  @media (max-width: 600px) {
    nav, article, aside {
      width: 100%;
      height: auto;
    }
  }

 